@import url('http://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('http://fonts.googleapis.com/css?family=Open+Sans');

p, h1, h3, li {
        font-family: Open Sans;
        text-align: center;
}


.container {
	/*    Inspired by https://css-tricks.com/perfect-full-page-background-image/    */
	background: url(flower.jpeg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

body {
	background-color: #E6E6FA;
}

table {
	background-color: white;
	margin-left: 0; 
    margin-right: 0;
    padding: 0 30px 0 30px;
}

li {
	text-align: left;
}


th {
	border: 0px;
}

td {
	vertical-align: top;
}

td.navigator {
	vertical-align: middle;
	height: 50px;
}

.navigator_table {
	height: 50px;
}

.window {
	width: 400px;
	padding: 20px 0px 20px 0px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20%;
}

.buttons {
/*	border-radius: 5px;
	border: 2px solid white;
	background-color: #E6E6FA;
	height: auto;*/
	text-align: center;
	font-size: 16px;
	padding: 0 2px 0 2px;
}

/*Link Styling*/

a {
	font-family: Roboto Slab;
}

a:link {
	color: darkblue;
	text-decoration: none;
}

a:visited {
	color: darkblue;
	text-decoration: none;
}

a:hover {
	color: mediumpurple;
	text-decoration: none;
}

a:active {
	color: darkblue;
	text-decoration: none;
}



