p, h1, h3, li {
        font-family: "Times New Roman";
    }

body {
	background-image: url("flower.jpeg");
}

table {
	border: 1px;
	border-style: solid;
	border-color: darkblue;
	background-color: white;
}

div {
	text-align: center;
}

th {
	border: 1px;
	border-style: solid;
	border-color: darkblue;
}