@import url('http://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('http://fonts.googleapis.com/css?family=Open+Sans');


p, h1, h2, li {
        font-family: Chaucer;
        text-align: center;
}



table {
	margin-left: 0; 
    margin-right: 0;
    padding: 0 30px 0px 30px;
}

li {
	text-align: left;
}


th {
	border: 0px;
}

td {
	vertical-align: middle;
	border: 0px;
}

td.navigator {
	height: 50px;
	border: 0;
}

.navigator_table {
	height: 50px;
	border: 0px;
}

.window {
	width: 400px;
	padding: 20px 0px 20px 0px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 13%; 
	height: 100%;
	border: 0px;
}

.buttons {
/*	border-radius: 5px;
	border: 2px solid white;
	background-color: #E6E6FA;
	height: auto;*/
	text-align: center;
	font-size: 20px;
	padding: 0 2px 0 2px;
	font-weight:bold;
}

/*Link Styling*/

a {
	font-family: Roboto Slab;
}

a:link {
	color: #FFCC66;
	text-decoration: none;
}

a:visited {
	color: #FFCC66;
	text-decoration: none;
}

a:hover {
	color: #FFCC66;
	text-decoration: none;
}

a:active {
	color: #FFCC66;
	text-decoration: none;
}

ul{
	list-style-type: circle
}

.bullet {
	list-style-type: none
}

/*.personal_picture {
	padding: 0px 0px 20px 0px;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0.1%; 
	height: 70%;
	border: 0px;
}*/

body {
	background-color: #FCFCFA; 
}

.col-md-6 {
	color: black;
	text-align: left;
	font-style: Courier;
	font-size: 20px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 7%; 
	height: 100%;
	border: 0px;
}

.comingsoon {
    height: 100em;
	width: 100em;
	padding: 0px 0px 0px 0px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20%; 
	height: 100%;
	border: 0px;
}


.formulaire {
	height: 1em;
	width: 50em;
	padding: 0px 10px 0px 10px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 8%; 
	height: 100%;
	border: 0px;
}
